html {
    scroll-behavior: smooth;
}

p {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
}

/* Cabeçalho */
.btn-outline {
    color: #000000;
    border-color: #000000;
}

.btn-outline:hover {
    color: #ffffff;
    background: black;
}
/* Cabeçalho */



/* Area de atuação */
.bg-dark {
    background-color: #000000!important;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white
}

h4{
    font-family:tahoma;
    text-align:center; 
    background: #313131; 
    color:#ffffff; 
    margin: 0; 
    padding: 2px;
    text-transform: uppercase;
    font-size: 20px;
}
/* Area de atuação */


/* localização */
.titulosPretos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.jumbotron{
    background-color: white;
}

.localizacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-conteudo {
    width: 700px;
}

.endereco-conteudo{
text-align: left;
font-size: 1.5rem;
}

.endereco-conteudo li{
    margin-bottom: 20px;
    margin-left: 30px;
}

@media screen and (max-width: 850px) {
    .localizacao{
        display: flex;
        flex-direction: column;
        margin: 20px ;
    }

    .mapa-conteudo {
        width: 100%; 
        margin-bottom: 25px;
    } 

    .endereco-conteudo ul li{
        font-size: 18px;
    }

    .endereco-conteudo ul{
        padding: 0;
    }
}
/* localização */

/* contato */
.row2{
    padding: 0 20px;
    display: table;
    width: 100%;
}

form {
    width: 50%;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    font: 1em sans-serif;
    border: 1px solid #999;
}

label {
    font-weight: bold;
    display: inline-block;
    margin: 3px 0px;
}

.button2{
    width: 300px;
    margin: auto;
    background-color: #313131;
    border: 1px solid #999;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 3px;
}

.button2:hover{
    background-color: black;
    cursor: pointer;
}

input:valid, textarea:valid{
    border-color: green;
}

span {
    position: relative;
}

input:valid + span::before, textarea:valid + span::before {
    content: '✓';
    color: green;
}

input + span::before {
    position: absolute;
    right: 10px;
    top: -3px;
}

textarea + span::before {
    position: absolute;
    right: 10px;
    top: -65px;
}

@media screen and (max-width: 768px) {
    form{
        width: 100%;
    }
    
    .row2{
        margin: 0px;
    }

    .button2{
        width: 100%;
    }
}


/* contato */

/* entre em contato */
.flex-container{
    display: flex;
    justify-content: center;
}

.container-item{
    padding:0px 15px 90px 15px;
    margin-bottom:-50px;
}

a .fa-envelope{
    color: rgb(0, 0, 0);
    font-size: 35px;
}

a .fa-envelope:hover{
    color: #f14436;
    animation: pulsante 1.5s infinite;
}

a .fa-instagram{
    color: rgb(0, 0, 0);
    font-size: 35px;
}

a .fa-instagram:hover{
    color: #DD2A7B;
    animation: pulsante 1.5s infinite;
}

a .fa-linkedin{
    color: rgb(0, 0, 0);
    font-size: 35px;
}

a .fa-linkedin:hover{
    color: #0e76a8 ;
    animation: pulsante 1.5s infinite;
}

a .fa-whatsapp {
    color: rgb(0, 0, 0);
    font-size: 35px;
}

a .fa-whatsapp:hover{
    color: #34af23;
    animation: pulsante 1.5s infinite;
}

@keyframes pulsante{
    0%{
        transform: scale(1);
    }

    25%{
        transform: scale(1.3);
    }

    50%{
        transform: scale(1);
    }

    75%{
        transform: scale(1.3);
    }

    100%{
        transform: scale(1);
    }
}
/* entre em contato */
